*{margin: 0px;padding: 0px;}

body{
    width: 60%;
    position: relative;
    left: 20%;
    top: 30px;
    height: 400px;
}
#drop-down{
    position: relative;
    left: 30%;
    margin: 100px;
    width: 80px;

}
section {
    position: relative;
    left: 25%;
    bottom: 28%;
}
form {
    width: 60%;
    position: relative;
    left: 20%;
    top: 30px;
    height: 400px;
    box-shadow: 8px 8px 40px rgb(202, 194, 194);
}
h2{
    position: relative;
    text-align: center;
}
div {
    background-color: rgb(243, 117, 0);
    width: 50px;
    height: 50px;
    margin-left: 50px;
    float: left;
    margin-bottom: 10px;
}


     
